.mat-mdc-form-field {
    width: 100%;
    margin: 1% 0;
}

.mat-50 {
    width: 48%;
    margin: 1%;
}

.unit-fields {
    width: 100%;
    display: flex;
}

.unit-field-group {
    display: flex;
    flex-direction: column;
    width: 50%;
}

button {
    margin: 2px;
}

.sub-heading {
    display: block;
    margin: 20px 0px 10px 0px
}

.add-inst-button {
    margin-bottom: 10px;
}

.delete-instruction-button {
}

.create-new-ingredient {
    float: right;
    margin-bottom: 10px;
}

.form-action-btns {
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    margin: 1%;
}

// Creates a linebreak so that save and cancel buttons are on their own separate lines.
.break {
    flex-basis: 100;
    height: 0;
}

.dialog-action-btn {
    width: 100%;
}

.delete-btn-container {
    display: flex;
    justify-content: end;
    margin-bottom: 1%;
}