@use '@angular/material' as mat;

@include mat.core();

$RecipeApplication-primary: mat.define-palette(mat.$indigo-palette);
$RecipeApplication-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$RecipeApplication-warn: mat.define-palette(mat.$red-palette);
$RecipeApplication-typography: mat.define-typography-config(
  $font-family: 'Outfit',
);
@include mat.typography-hierarchy($RecipeApplication-typography);

$RecipeApplication-theme: mat.define-light-theme((
  color: (
    primary: $RecipeApplication-primary,
    accent: $RecipeApplication-accent,
    warn: $RecipeApplication-warn,
  ),
  typography: $RecipeApplication-typography,
));

@include mat.all-component-themes($RecipeApplication-theme);

/*Color theme*/
:root {
  --main-color-1: #013870;
  // --main-color-2: #2B2D42;
  --main-color-2: #01E08F;
  --main-color-3: #FFFFFF;
  --main-color-4: #F5F5F5;
  
}

html, body { height: 100%; }
body { margin: 0; }