.register-card {
    max-width: 400px; 
    margin: 0 auto;
    align-items: center;
 }
 
 .card-container {
    display: flex;
    width: 100vw;
    height: calc(100vh - 80px);
    align-items: center;
    background-color: var(--main-color-4);
 }
 
 .form-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }