<!-- recipe-details-dialog.component.html -->
<div class="dialog-grid-container">
    <div class="image-box">
      <img [src]="data.imageUrl ? data.imageUrl : 'https://st4.depositphotos.com/14953852/24787/v/450/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg'" [alt]="data.imageUrl ? 'photo of ' + data.recipeName : 'No image available'">
    </div>
    <div class="name-box">
      <span class="mat-headline-2">{{ data.recipeName }}</span>
      <div class="features">
        <div class="feature-item" *ngIf="data.difficultyLevel">
          <span class="feature-data-desc mat-headline-6"><mat-icon>signal_cellular_alt</mat-icon>Difficulty: </span>
          <span class="feature-data">{{data.difficultyLevel}}</span>
        </div>
        <div class="feature-item" *ngIf="data.mealType">
          <span class="feature-data-desc mat-headline-6"><mat-icon>restaurant</mat-icon> Meal: </span>
          <span class="feature-data">{{data.mealType}}</span>
        </div>
        <div class="feature-item" *ngIf="data.cuisineType">
          <span class="feature-data-desc mat-headline-6"><mat-icon>flag</mat-icon> Cuisine: </span>
          <span class="feature-data">{{data.cuisineType}}</span>
        </div>
        <div class="feature-item" *ngIf="data.dietaryInformation">
          <span class="feature-data-desc mat-headline-6"><mat-icon>egg</mat-icon> Diet: </span>
          <span class="feature-data">{{data.dietaryInformation}}</span>
        </div>
        <div class="feature-item" *ngIf="data.cookingTime">
          <span class="feature-data-desc mat-headline-6"><mat-icon>timer</mat-icon> Time: </span>
          <span class="feature-data">{{data.cookingTime}}</span>
        </div>
      </div>
    </div>

    <div class="ingredients-box">
      <span class="ingredient-box-headline mat-headline-5">Ingredients</span>
      <div class="ingredient-row-container" *ngFor="let recipeIngredient of data.recipeIngredients">
        <p class="ingredient-name mat-h4">{{recipeIngredient.ingredient.ingredientName}}</p>
        <span class="ingredient-measurement">{{recipeIngredient.quantity}} {{recipeIngredient.unit.unitAbbreviation}}</span>
      </div>
    </div>

    <div class="instructions-box">
      <span class="instructions-box-headline mat-headline-5">Instructions</span>
      <div class="instruction-step-container" *ngFor="let instruction of data.instructions">
        <span class="instruction-stepNumber mat-headline-6">{{instruction.stepNumber}}.</span>
        <p class="instruction-stepText">{{instruction.instructionText}}</p>
      </div>
    </div>

  </div>