<!-- recipe-details-dialog.component.html -->
<div class="dialog-grid-container">
    <div class="image-box">
      <img [src]="data.imageUrl ? data.imageUrl : 'https://st4.depositphotos.com/14953852/24787/v/450/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg'" [alt]="data.imageUrl ? 'photo of ' + data.recipeName : 'No image available'">
    </div>
    <div class="name-box">
      <span class="mat-headline-2">{{ data.recipeName }}</span>
      <div class="features">
        <div class="feature-item" *ngIf="data.difficultyLevel">
          <mat-icon class="feature-icon">signal_cellular_alt</mat-icon>
          <span class="feature-title mat-headline-6">Difficulty: </span>
          <span class="feature-data">{{data.difficultyLevel}}</span>
        </div>
        <div class="feature-item" *ngIf="data.mealType">
          <mat-icon class="feature-icon">restaurant</mat-icon>
          <span class="feature-title mat-headline-6"> Meal: </span>
          <span class="feature-data">{{data.mealType}}</span>
        </div>
        <div class="feature-item" *ngIf="data.cuisineType">
          <mat-icon class="feature-icon">flag</mat-icon>
          <span class="feature-title mat-headline-6"> Cuisine: </span>
          <span class="feature-data">{{data.cuisineType}}</span>
        </div>
        <div class="feature-item" *ngIf="data.dietaryInformation">
          <mat-icon class="feature-icon">egg</mat-icon>
          <span class="feature-title mat-headline-6"> Diet: </span>
          <span class="feature-data">{{data.dietaryInformation}}</span>
        </div>
        <div class="feature-item" *ngIf="data.cookingTime">
          <mat-icon class="feature-icon">timer</mat-icon>
          <span class="feature-title mat-headline-6"> Time: </span>
          <span class="feature-data">{{data.cookingTime}}</span>
        </div>
      </div>
    </div>

    <div class="ingredients-box">
      <span class="ingredient-box-headline mat-headline-5">Ingredients</span>
      <div class="ingredient-row-container" *ngFor="let recipeIngredient of data.recipeIngredients">
        <p class="ingredient-name mat-h4">{{recipeIngredient.ingredient.ingredientName}}</p>
        <span class="ingredient-measurement">{{recipeIngredient.quantity}} {{recipeIngredient.unit.unitAbbreviation}}</span>
      </div>
    </div>

    <div class="instructions-box">
      <span class="instructions-box-headline mat-headline-5">Instructions</span>
      <div class="instruction-step-container" *ngFor="let instruction of data.instructions">
        <span class="instruction-stepNumber mat-headline-6">{{instruction.stepNumber}}.</span>
        <p class="instruction-stepText">{{instruction.instructionText}}</p>
      </div>
    </div>

    <div class="button-box">
      <button mat-flat-button class="delete-recipe-button" color="warn" (click)="deleteRecipe()">Delete<mat-icon>delete</mat-icon></button>
      <button mat-flat-button class="edit-recipe-button" color="primary" (click)="editRecipe()">Edit<mat-icon>edit</mat-icon></button>
    </div>

  </div>