<mat-toolbar>
    <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="mat-headline-3">
        DishDrop
    </span>
    <span class="spacer"></span>
</mat-toolbar>

<mat-sidenav-container autosize>
    <mat-sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'">
        <mat-nav-list>
            <a mat-list-item routerLink="./home">
                <span class="entry">
                    <mat-icon class="sidenav-icon">dashboard</mat-icon>
                    <span *ngIf="!isCollapsed">Dashboard</span>
                </span>
            </a>
            <a mat-list-item routerLink="./cookbook">
                <span class="entry">
                    <mat-icon class="sidenav-icon">menu_book</mat-icon>
                    <span *ngIf="!isCollapsed">Cookbook</span>
                </span>
            </a>
            <a mat-list-item>
                <span class="entry" (click)="logout()">
                    <mat-icon class="sidenav-icon">logout</mat-icon>
                    <span *ngIf="!isCollapsed">Sign out</span>
                </span>
            </a> 
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- <h1>WELCOME!</h1>

<div>
    <span (click)="logout()">Logout</span>
</div>
</mat-sidenav-content> -->