<div class="cookbook-page-container">
    <div class="cookbook-page-content">
        <div class="cookbook-page-header">
            <span class="mat-headline-4">Cookbook</span>
            <button mat-flat-button class="add-recipe-button" color="primary">Add Recipe</button>
        </div>
    
        <div class="search-options-bar">
            <div class="search-field-container">
                <mat-form-field class="search-field" appearance="outline">
                    <input matInput placeholder="What are you looking for?">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
            <div>
                <mat-icon class="sort-icon">sort</mat-icon>
            </div>
        </div>
    </div>
</div>