<div class="cookbook-page-container">
    <div class="cookbook-page-content">
        <div class="cookbook-page-header">
            <span class="mat-headline-4">Cookbook</span>
            <button mat-flat-button class="add-recipe-button" color="primary">Add Recipe</button>
        </div>
    
        <div class="search-options-bar">
            <div class="search-field-container">
                <mat-form-field class="search-field" appearance="outline">
                    <input matInput placeholder="What are you looking for?">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
            <div>
                <mat-icon class="sort-icon">sort</mat-icon>
            </div>
        </div>

        <div class="recipe-card-container">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</div>